version: "3.9"

services:
  web:
    build: .
    container_name: fastapi_todo
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db
    develop:
      watch:
        - action: sync
          path: .
          target: /app
        - action: rebuild
          path: requirements.txt
  
  db:
    image: postgres:15
    container_name: todo_postgres
    restart: always
    env_file:
      - .env
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  pgdata: